@media only screen and (max-width: 768px) {

    /*Nav Stuff :]*/

    nav.navhead ul {
        display:none;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        flex: 1 1 500px;
        align-items:left;
    }

    nav.navhead {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;

        flex: 1 1 50px;
        -webkit-flex: 1 1 50px;
    }

    nav.navhead div.logo a {
        margin: 0px;
    }

    nav.navhead div.logo, nav.navhead div.logo a, nav.navhead div.logo img, nav.navhead ul li{
        float:none;
    }

    nav.navhead div.logo {
        display:block;
        margin:0px auto ;
        padding:0px;
        border:none;
    }

    /*Nav Icon (yes I did grab it from the tutorial*/
    nav.navhead ul li a {
        float:none;
        clear:both;
        width:100%;
   }

   nav.navhead ul li a img{
    display:block;
    max-width:100px;
   }

    a.navicon {
        display:block;
        float:left;

        display: flex;
        align-items: center;
        height: 50px;
    }

    nav.navhead ul li {
        flex-flow:column nowrap;
        -webkit-flex-flow: column nowrap;

        flex: 1 1 100px;
        -webkit-flex: 1 1 100px;
        border-top: #707476 solid 3px;
    }

    



    a.navicon:hover~ul, nav.navhead ul:hover /*Fix this Later*/ {
        display:flex;
    }





    /*Element Readjusting (Main)*/

    div.page {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
    }


    main {
        margin:auto;
        max-width:100%;
    }

    main figure.crtbox {
        float:none;
        max-width:100%;
    }

    section.right {
        float:none;
        max-height:100%;
        max-width:100%;
    }

    figure.wii img, figure.SSBU img {
        max-height:100%;
        max-width:50%;
    }

    /*Element Adjusting (Go Vacation)*/

    main article.stampdash {
        float:none;
        max-width:100%;
        font-size:20px;

    }

    /*Fonts*/

    h1 {
        font-size:30px;
    }

    main p {
        font-size:20px;
    }

    footer p, main figure.crtbox, section.right figcaption {
        font-size: 18px;
    }
}

@media screen and (min-width: 769px) {

    /*Removing logo's divisor*/

    /*Nav Icon (yes I did grab it from the tutorial*/

    a.navicon {
        display:none;
    }

}