@media only screen and (max-width: 768px) {

    /*Nav Stuff :]*/

    nav.navhead ul {
        display:none;
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        flex: 1 1 500px;
        align-items:left;
    }

    nav.navhead {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;

        flex: 1 1 50px;
        -webkit-flex: 1 1 50px;
    }

    nav.navhead div.row {
        flex-flow: row nowrap;
    }

    nav.navhead div.logo a {
        margin: 0px;
    }

    nav.navhead div.logo, nav.navhead div.logo a, nav.navhead div.logo img, nav.navhead ul li{
        float:none;
    }

    nav.navhead div.logo {
        display:flex;
        justify-content: flex-start;
        padding:0px;
        border:none;

        flex: 1 1 150px;
        -webkit-flex: 1 1 150px;
    }

    /*Nav Icon (yes I did grab it from the tutorial*/
    nav.navhead ul li a {
        float:none;
        clear:both;
        width:100%;

        justify-content:flex-start;
   }

   nav.navhead ul li a img{
    display:block;
    max-width:100px;
   }

    a.navicon {
        flex: 1 1 50px;
        -webkit-flex: 1 1 50px;

        display: flex;
        display: -webkit-flex;
        justify-content:flex-start;
        align-items:center;
    }

    a.navicon img {
        width: 50px;
        height: 50px;
    }

    nav.navhead ul li {
        flex-flow:column nowrap;
        -webkit-flex-flow: column nowrap;

        flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        border-top: #707476 solid 3px;
    }

    nav.navhead li:nth-of-type(5) {
        background-color:#9da3a7;
    }

    nav.navhead li:nth-of-type(5) a {
        flex:none;
        background:none;

        margin:0px;
    }



   div.row:has(a:hover) ~ ul, nav.navhead ul:hover /*Fix this Later*/ {
        display:flex;
    }





    /*Element Readjusting (Main)*/

    div.page {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
    }


    main {
        margin:auto;
        max-width:100%;
    }

    main figure.crtbox {
        float:none;
        max-width:100%;
    }

    section.right {
        float:none;
        max-height:100%;
        max-width:100%;
    }

    figure.wii img, figure.SSBU img {
        max-height:100%;
        max-width:50%;
    }

    /*Element Adjusting (Go Vacation)*/

    main article.stampdash {
        float:none;
        max-width:100%;
        font-size:20px;

    }

    /*Fonts*/

    h1 {
        font-size:30px;
    }

    main p {
        font-size:20px;
    }

    footer p, main figure.crtbox, section.right figcaption {
        font-size: 18px;
    }
}

@media screen and (min-width: 769px) {

    /*Removing logo's divisor*/

    /*Nav Icon (yes I did grab it from the tutorial*/

    a.navicon {
        display:none;
    }

}