@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/*html and body*/

html {

    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    background-color: #C4D8FF;

}

body {

    box-shadow: black 15px 0px 25px,
    black -15px 0px 25px;
    max-height: 95%;

    border-radius: 15px;
    
    margin: auto;
    max-width: 90%;


}


/* Navigation */
nav.navhead {
    background: linear-gradient(115deg, #508aff 1%, white 15%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    box-shadow: black 0px 5px 35px;
}

nav.navhead div.slash {
    display:inline;
}

nav.navhead ul li img {
    display: block;
    width: 50%;
}

nav.navhead ul li img.creatur {
    display: block;
    width: 100%;
}

nav.navhead div.logo, nav.navhead li{
    display: flex;
    align-items: center;

   float: left;
   padding: 5px;
   height: 100px;
   clear:right;
}

nav.navhead li {
    width: 16.6%;
    text-align:center;
    margin:auto 0px;
}

nav.navhead div.logo {
    width: 16.6%;
    text-align:center;
    margin:auto 0px;
}

nav.navhead div.logo img {
   max-width: 100px;
   float:left;
}

nav.navhead::after {
    content:"";
    clear:both;
    display:table;
}

/* Navigation (dropdown (if time)) */

nav.navhead div.logo a, nav.navhead li a {
    display:inline;
    margin: auto 0px;

    font-size:90px;
    text-align:center;
    color:#707476;
}

nav.navhead img:hover, nav.navhead img:focus {
    background:radial-gradient(ellipse farthest-side, hsl(220, 100%, 70%), rgba(255, 255, 255, 0));
}

/*Main*/

main {
    clear:both;
    text-align:center;
    padding: 10px;
    display:inline-block;

    line-height: 30px;
    letter-spacing: 2px;
    background-color: #001339;
}

main::after {
    content:"";
    clear:both;
}

figcaption {
    letter-spacing: 0px;
    line-height: 15px;
}

section {
    display:inline-block;
    background-color: white;
}

/*Fonts and Stuff*/

h1 {
    font-size: 36px;
    padding: 5px;

    color: #67A4FF;
}

p {
    font-size: 26px;

    color:#a2c7ff;
}

main hr {

    border:none;
    border-top:#508aff 3px solid;

}

section hr {

    border:none;
    border-top:#707476 3px solid;
    width: 90%;

}

a:link {
    color:#8367ff;
}

a:hover, a:focus {
    color:#a28dff;
}

a:visited {
    color:#2f00ff;
}

/* Footer */
footer {
    clear:both;
    max-width: 100%;
    padding: 5px;
    margin:0px;

    background-color:white;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

footer p {
    color:#707476;
    font-size:16px;
}