@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/*html and body*/

html {

    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    background-color: #C4D8FF;

}

body {

    display:flex;
    display:-webkit-flex;

    flex-flow:row wrap;
    -webkit-flex-flow:row wrap;

    box-shadow: black 15px 0px 25px,
    black -15px 0px 25px;

    border-radius: 15px;
    
    margin: auto;
    max-width: 90%;

}


/* Navigation */

header {
    display:block;
    flex: 1 1 500px;
    -webkit-flex: 1 1 500px;

    order:1;
}

    /*navhead*/

nav.navhead {
    flex: 1 1 500px;
    -webkit-flex: 1 1 500px;
    display:flex;
    display:-webkit-flex;

    background: linear-gradient(115deg, #508aff 1%, white 15%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    flex-flow:row nowrap;
    -webkit-flex-flow:row nowrap;

    
}

nav.navhead div.row {
    flex: inherit;
    display:inherit;

    flex-flow:inherit;
    -webkit-flex-flow: inherit;
}

nav.navhead::after {
    content:"";
    clear:both;
    display:table;
}

    /*Logo and UL*/

nav.navhead ul {
    display:flex;
    display:-webkit-flex;

    flex-flow: 1 1 1032px;
    -webkit-flex-flow: 1 1 1032px;

    flex-flow:row nowrap;
    -webkit-flex-flow:row nowrap;
}

nav.navhead div.logo, nav.navhead li {
    display:flex;
    display:-webkit-flex;

    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    
    justify-content:center;

   margin:auto 0px;
}

nav.navhead li {
    flex: 1 1 200px;
    -webkit-flex: 1 1 200px;
}

nav.navhead div.logo {
    flex: 1 1 216px;
    -webkit-flex: 1 1 216px;
    border-right:#707476 solid 3px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

    /*Nav Hyperlinks*/

nav.navhead ul li a {
    display:flex;
    justify-content:center;
    margin:0px auto;
}

nav.navhead li:nth-of-type(5) a {
    flex: 1 1 300px;
    background:linear-gradient(90deg, white, rgb(177, 177, 177) );
}
    /*Nav Images and So On*/

nav.navhead ul li img {
    display: block;
    width: 50%;
}

nav.navhead div.logo img {
   max-width: 100px;
   float:left;

   flex: 1 1 190px;
   -webkit-flex: 1 1 190px;
}

nav.navhead li img.creatur {
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

/* Navigation (dropdown (if time)) */

nav.navhead img:hover, nav.navhead img:focus {
    background:radial-gradient(ellipse farthest-side, hsl(220, 100%, 70%), rgba(255, 255, 255, 0));
}

/*Main*/

main {
    clear:both;
    text-align:center;
    
    padding: 10px;
    display:inline-block;

    line-height: 30px;
    letter-spacing: 2px;
    background-color: #001339;
}

main::after {
    content:"";
    clear:both;
}

figcaption {
    letter-spacing: 0px;
    line-height: 15px;
}

section {
    display:inline-block;
    background-color: white;
}

/*Fonts and Stuff*/

h1 {
    font-size: 36px;
    padding: 5px;

    color: #67A4FF;
}

p {
    font-size: 26px;

    color:#a2c7ff;
}

main hr {

    border:none;
    border-top:#508aff 3px solid;

}

section hr {

    border:none;
    border-top:#707476 3px solid;
    width: 90%;

}

a:link {
    color:#8367ff;
}

a:hover, a:focus {
    color:#a28dff;
}

a:visited {
    color:#2f00ff;
}

/* Footer */
footer {
    border-top: rgb(177, 177, 177) solid 3px;
    clear:both;
    display: block;
    width: 100%;
    padding: 5px;
    margin:0px;

    background-color:white;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    order:3;
}

footer p {
    color:#707476;
    font-size:16px;
}