@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/*html and body*/

html {

    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    background-color: #C4D8FF;

}

body {

    box-shadow: black 15px 0px 25px,
    black -15px 0px 25px;
    max-height: 95%;

    border-radius: 15px;
    

}


/* Navigation */
nav.navhead {
    background: linear-gradient(115deg, #508aff 1%, white 20%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    box-shadow: black 0px 5px 35px;
}

nav.navhead img {
   display: block;
   width: 40%;
}

nav.navhead div.logo, nav.navhead li {
    display: flex;
    align-items: center;
    vertical-align: -webkit-baseline-middle, middle;


   width: 20%;
   float: left;
   padding: 5px;
   height: 100px;
   clear:right;
}

nav.navhead div.logo img {
   width: 100px;
   float: left;
}

nav.navhead::after {
    content:"";
    clear:both;
    display:table;
}

/* Navigation (fonts and dropdown (if time)) */

nav.navhead div.logo a, nav.navhead li a {
    font-size:90px;
    text-align:center;
    color:#707476;
    display:inline;
}

nav.navhead ul li a::before{
    content: ""; /*find symbols in css*/
}

/*Main*/

main {
    clear:both;
    text-align:center;
    padding: 10px;
    display:inline-block;

    height: 100%;

    line-height: 30px;
    letter-spacing: 2px;
}

main::after {
    content:"";
    clear:both;
}

figcaption {
    letter-spacing: 0px;
    line-height: 15px;
}

section {
    display:inline-block;

    overflow-y:auto;
    display: block;
    background-color: white;

    border-top:rgb(71,71,71) solid 2px;
    border-bottom:rgb(71,71,71) solid 2px;
    width: 25%;
}

/*Fonts and Stuff*/

h1 {
    font-size: 36px; /*adjust this later*/
    padding: 5px;

    color: #67A4FF;
}

p {
    font-size: 26px;

    color:#a2c7ff;
}

main hr {

    border:none;
    border-top:#508aff 3px solid;

}

section hr {

    border:none;
    border-top:#707476 3px solid;
    width: 90%;

}

a:link {
    color:#8367ff;
}

a:hover {
    color:#a28dff;
}

a:visited {
    color:#2f00ff;
}

/* Footer */
footer {
    clear:both;
    max-width: 100%;
    padding: 5px;
    margin:0px;

    background-color:white;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

footer p {
    color:#707476;
    font-size:16px;
}