@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/*html and body*/

html {

    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    background-color: #C4D8FF;

}

body {

    box-shadow: black 15px 0px 25px,
    black -15px 0px 25px;

}


/* Navigation (fixing it) */
nav.navhead {
    background: linear-gradient(115deg, #508aff 1%, white 20%);
}

nav.navhead img {
   display: block;
   width: 40%;
}

nav.navhead div.logo, nav.navhead li {
    display: flex;
    align-items: center;
    vertical-align: -webkit-baseline-middle, middle;


   width: 20%;
   float: left;
   padding: 5px;
   height: 100px;
   clear:right;
}

nav.navhead div.logo img {
   width: 100px;
   float: left;
}

nav.navhead::after {
    content:"";
    clear:both;
    display:table;
}

/* Navigation (fonts and dropdown (if time)) */

nav.navhead div.logo a, nav.navhead li a {
    font-size:90px;
    text-align:center;
    color:#707476;
    display:inline;
}

nav.navhead ul li a::before{
    content: ""; /*find symbols in css*/
}

/*Main*/

main {
    background-color: #001339;
    clear:both;
    color: #67A4FF;
    text-align:center;
    padding: 10px;
    clear:both;
}

main::after {
    content:"";
    clear:both;
}

/*Fonts and Stuff*/



h1 {
    font-size: 36px; /*adjust this later*/
    padding: 5px;
}

p {
    font-size: 26px;
    margin: 10px;
}

/* Footer */
footer {
    clear:both;
}