@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

/*Body*/

html {
    background-color:black;
    color:white;
    font-family: 'Bytesized', arial, sans-serif;
}

body {
    display:flex;
    display:-webkit-flex;
    flex-flow:column nowrap;
    -webkit-flex-flow:column nowrap;
    font-variant: small-caps;
    letter-spacing: 3px;
    width:100%;
}

main {
    text-align:center;
    align-content:flex-start;
}

/*Font Base*/

h1 {
    font-size: 100px;
}

h2 {
    font-size:60px;
}

/*Row 1*/

div.row1 {
    display: flex;
    display:-webkit-flex;
    flex-flow:row nowrap;
    -webkit-flex-flow:row nowrap;
    flex: 1 1 1000px;
    -webkit-flex: 1 1 1000px;

    align-items: center;
    justify-content: center;
}

div.row1 h2 {
    display:inline;
}

div.row1 img {
    max-width:350px;
}

/*Row 2*/

div.row2 {
    display: flex;
    display:-webkit-flex;
    flex-flow:row nowrap;
    -webkit-flex-flow:row nowrap;
    flex: 1 1 1000px;
    -webkit-flex: 1 1 1000px;

    align-items: center;
    justify-content: center;
}

div.row2 h2 {
    display:inline;
}

div.row2 img {
    max-width: 150px;
}