 /* Body */

 body {

    margin: auto;
    max-width: 90%;

 }

 main {
   max-width: 70%;
   height:100%;
 }

 /*Div Section 1*/

 main figure.crtbox {
   float:left;
   max-width: 40%;
   display:block;

   color:white;
   background-color:#274F9F;

   padding: 5px;
   margin: 5px;
   font-size: 1px;
   border: white solid 2px;
   border-radius: 10px;
 }

main figure.crtbox img {
   width:90%;
   margin: auto;
   margin-bottom: 5px;
   display:block;
 }