 /* Body */

 body {

    margin: auto;
    max-width: 90%;

 }

 main {
   max-width: 70%;
   height:100%;
   background-color: #001339;
 }

 /*Left Side*/

 main figure.crtbox {
   float:left;
   max-width: 35%;
   display:block;

   color:white;
   background-color:#274F9F;

   padding: 5px;
   margin: 5px;
   padding: 10px;
   font-size: 16px;
   border: white solid 2px;
   border-radius: 10px;
 }

figure img {
   width:100%;
   margin: auto;
   margin-bottom: 5px;
   display:block;
 }

 /*Right Side*/

 section.right {
    float:right;
    height:753px;
 }

 section.right figure {
  margin:auto;
 }

 section.right figcaption {
   color:#707476;
   font-size: 16px;
   text-align:center;
   margin:5px;
   padding: 5px;

   border:rgb(177, 177, 177) solid 2px;
 }



 /*Right: Wii*/

  section.right figure.wii {
   max-width: 90%;
   display:block;

   padding: 5px;
   font-size: 1px;
   border:rgb(177, 177, 177) solid 2px;
   border-radius: 10px;
 }

figure.wii img {
  display: block;
  margin:auto;
  max-height: 50%;
 }

/*Right: SSBU */

  section.right figure.SSBU {
   max-width: 90%;
   display:block;

   padding: 5px;
   font-size: 1px;
   border:rgb(177, 177, 177) solid 2px;
   border-radius: 10px;
 }

 figure.SSBU img {
  display: block;
  margin:auto;
  max-height: 40%;
 }