 /* Body */

 body {

    margin: auto;
    max-width: 90%;

 }

 main {
   max-width: 70%;
   position: relative;
 }

 /*Div Section 1*/

 main figure.crtbox {
   float:left;
   max-width: 20%;
   display:block;

   color:white;
   background-color:#274F9F;

   padding: 5px;
   margin: 5px;
   font-size: 16px;
   border: white solid 2px;
   border-radius: 10px;
 }

figure.crtbox img {
   width:100%;
   display:block;
 }